# audio_to_text.py for 
openai-whisper     # speech-to-text
transformers       # summarization
sentencepiece      # needed for transformers models
pydub              # preprocessing
pyannote.audio 
soundfile
streamlit
requests